html,
body {
  height: 100%;
  font-family: "Fira Sans", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

.primary-button {
  color: #fff;
  background: #2979ff;
}

.primary-button:hover {
  cursor: pointer;
  background-color: #5f99fd;
}
